/*
    You can add your own custom styles here.
*/

/**
*   Global font family
*/
:root {
    --sys-font-family: "Times New Roman", -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --zh-font-family: "LXGW WenKai", "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback";

    --base-font-family: var(--sys-font-family), var(--zh-font-family), sans-serif;
    --code-font-family: "ComicMono Nerd Font", Menlo, Monaco, Consolas, "Courier New", monospace;
}